*.md
.DS_Store
.claude
.cursor
.eslintcache
.eslintrc
.github
.meteor
.meteorignore
.npm
.versions
adapters/blank-example.js
adapters/blank-example.d.ts
ascii
cover.jpg
cover.png
coverage
docs/
docs/*
jest.config.mjs
local-testing.md
local-testing.mjs
node_modules
npm-debug.log*
package.js
package-lock.json
package-types.json
rollup.config.js
scripts/
scripts/*
skills/
skills/*
template.html
test/
test/*
tsconfig.json
tsconfig.types.json
