*.md
.DS_Store
.eslintcache
.eslintrc
.github
.meteor
.meteorignore
.npm
.versions
adapters/blank-example.js
ascii
cover.jpg
cover.png
node_modules
npm-debug.log*
package.js
rollup.config.js
template.html
test/
test/*
docs/
docs/*
